{{template "base" .}}
{{define "title"}}
    <title>Generals Room Page</title>
{{end}}
{{define "css"}}
<style>
    .container{
        background: url("/static/img/clasik.png"), linear-gradient(black, white);
        background-blend-mode: multiply;
        height: 90vh;
        background-repeat: no-repeat;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        padding: 1rem;
    }
</style>
{{end}}
{{define "content"}}
<div class="container">
    <h1>Clasik Rooms</h1>
    <div class="row text-center">
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia minima dolorem libero debitis dicta nihil nam vero enim assumenda molestiae consequatur voluptate aliquam veniam maxime delectus, perferendis in doloremque quod.
        </div>
        <div class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolores voluptate ex quasi eligendi rerum eos error odit iure. Ut nulla ex fuga laborum molestiae quisquam, obcaecati porro rem ipsam.
        </div>
    </div>
<a href="" class="btn btn-outline-primary" style="color:white">Cek Now</a>
</div>
{{end}}