{{template "base" .}}
{{define "title"}}
    <title>Make Reservation</title>
{{end}}
{{define "css"}}
    <style>
        label{
            color: black;
            font-family: "Inter",sans-serif;
            font-size:.9rem;
        }
    </style>
{{end}}
{{define "content"}}
<div class="container-fluid">
    <div class="row col-lg-7 mt-4 mx-auto">
        <h2 class="text-center">Make Reservation Now !</h2>
        <hr>
    </div>
    <div class="row ">
        <div class="p-lg-4 rounded-3 col-lg-7 mt-4 mx-auto" style="background-color:#EFF5F5;">

            <div class="form-floating mb-3">
                <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="test">
                <label for="floatingPlaintextInput">Rooms Choose :</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="test">
                <label for="floatingPlaintextInput">Start Date</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="test">
                <label for="floatingPlaintextInput">End Date</label>
            </div>
            <form action="" method="post"  novalidate >
               
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Phone</label>
                </div>      
                <button class="btn btn-outline-primary mt-4">Make Reservation</button>
            </form>
        </div>
    </div>
</div>
{{end}}